
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    background-image: url(img/background.jpg);
    background-size: cover;
   
}
.wrapper{
    width: 400px;
    height: 450px;
    color: rgba(204, 14, 102, 0.99);
    top: 50%;
    left: 50%;
    padding: 60px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 1px 5px 60px rgb(0, 0, 0);
   background-color: rgba(8, 8, 8, 0);
}
h1{
    text-align: center; 
    text-transform: uppercase;
    color: #070707;
}

p{
    color: #000;
}

.wrapper input[type=text],
.wrapper input[type=password],
input[type=submit]{
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.54);
    outline: none;
    margin-bottom: 20px;;
    border-radius: 3px;
    margin: 10px 0;
    opacity: 1;
    color: rgb(244, 244, 244);
}
input[type=submit]{
    border-radius: 10px;
    margin-left:  25%;
    width: 50%;
    color: #fff;
    background-color: #342e2e; 
    text-align: center; 
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 0px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.bottom-text:after{
    display: block;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.64);
    content: " ";
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

frame{
    background-color: rgb(173, 169, 169);
}
